.vs
BusinessLogics/bin
BusinessLogics/obj
Common/bin
Common/obj
DataRepositories/bin
DataRepositories/obj
DataTransferObjects/bin
Entities/bin
Entities/obj
Mappers/bin
Mappers/obj
DataTransferObjects/obj
WebApi/bin
WebApi/obj
WebApi/Properties/PublishProfiles
WebApi/Properties/ServiceDependencies
WebApi/WebApi.csproj.user
Mappers/Generated
